<!-- Footer Area -->
		<footer class="vnw-footer">
			<div class="container">
				<div class="row">
					<div class="col-12 text-center">
						<h4 class="contact-title">THÔNG TIN LIÊN HỆ</h4>
						<div class="contact-info">
							<span><strong>Email:</strong> contact@vietnamworld.vn</span>
							<span class="divider">|</span>
							<span><strong>SĐT:</strong> 0909486575</span>
							<span class="divider">|</span>
							<span><strong>Fanpage:</strong> <a href="https://www.facebook.com/profile.php?id=61589143787156" target="_blank">VietnamWorld</a></span>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!--/ End Footer Area -->