		<!-- Header Area -->
		<header class="header" >
			<!-- Header Inner -->
			<div class="header-inner">
				<div class="container">
					<div class="inner">
						<div class="row">
							<div class="col-lg-3 col-md-3 col-12">
								<div class="logo">
									<a href="index.html"><img src="img/ava.jpg" alt="VNW Logo"></a>
								</div>
								<div class="mobile-nav"></div>
							</div>
							<div class="col-lg-7 col-md-9 col-12">
								<div class="main-menu">
									<nav class="navigation">
										<ul class="nav menu">
											<li class="active"><a href="index.html">Trang chủ</a></li>
											<li><a href="explore.html">Khám phá </a></li>
											<li><a href="gameplay.html">Cách chơi</a></li>
											<li><a href="news.html">Sự kiện</a></li>
											<li><a href="join.html">Tham gia</a></li>
											<li><a href="collab.html">Hợp tác</a></li>
										</ul>
									</nav>
								</div>
							</div>
							<div class="col-lg-2 col-12">
								<div class="get-quote">
									<a href="#" class="btn">Chơi ngay!</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Header Inner -->
		</header>
		<!-- End Header Area -->